nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  background: #BF4345;
  z-index: 10;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-right: 20px;
}

nav li {
  display: inline;
}

nav a {
  display: block;
  text-decoration: none;
  color: #303235;
  padding: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  background: #45567D;
  color: #FFFFFF;
  ;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background: #303235;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  font-size: 2.75rem;
  color: #FFFFFF;
}

#welcome-section p {
  font-size: 1.5rem;
  color: #BF4345;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #45567D;
  width: 100%;
  padding: 70px 0;
}

#projects header, #contact header {
  color: #FFFFFF;
  text-align: center;
  padding: 0;
  padding-bottom: 45px;
  font-size: 2.5rem
}

#projects-container {
  display: grid;
  justify-content: space-around;
  grid-gap: 1rem;
  grid-auto-rows: auto;
}

.project {
  border: 5px solid #324061;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

#tribute_page, #survey_form, #landing_page, #technical_documentation_page {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: 0.4s ease;
}

#tribute_page:hover, #survey_form:hover, #landing_page:hover, #technical_documentation_page:hover {
  opacity: 0.1;
}

#tribute_page {
  background-image: url(../images/doctors_without_borders.jpg);
  background-size: 250%;
}

#survey_form {
  background-image: url(../images/bookstore.jpg);
  background-size: 200%;
}

#landing_page {
  background-image: url(../images/furniture.jpg);
  background-size: 300%;
}

#technical_documentation_page {
  background-image: url(../images/CSS.png);
  background-size: 200%;
}

#contact {
  background: #303235;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 70px 0 30px 0;
  width: 100%;
}

#contact>form {
  margin: 0 auto;
}

.form-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 200px;
  grid-template-rows: auto auto auto;
  grid-gap: 20px 30px;
  width: auto;
}

.form-container label {
  color: #FFFFFF;
}

input[type="text"], input[type="email"] {
  line-height: 1.4rem;
}

#message-label {
  align-self: flex-start;
}

textarea {
  width: 100%;
  height: 100px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  width: 100%;
}

.btn {
  background-color: #45567D;
  border-radius: 5px;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  color: #FFFFFF;
  font-size: 1rem;
  height: 35px;
  margin: 0 auto;
  text-align: center;
  width: 90px;
}

.github-button-container {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 699px) {
  #projects-container {
    width: 70%;
    grid-template-columns: minmax(280px, 0.75fr);
  }
}

@media only screen and (min-width: 700px) {
  #projects-container {
    width: 60%;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media only screen and (min-width: 1280px) {
  #projects-container {
    width: 80%;
    grid-template-columns: repeat(4, minmax(280px, 1fr));
  }
}