nav {
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  background: red;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin-right: 20px;
}

nav li {
  display: inline;
}

nav a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 1rem;
  font-size: 1.2rem;
}

nav a:hover {
  background: green;
  color: white;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  font-size: 2.75rem;
}

#welcome-section p {
  font-size: 1.5rem;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: chartreuse;
  width: 100%;
  padding: 100px 0;
}

#projects header {
  text-align: center;
  padding: 0;
  padding-bottom: 45px;
  font-size: 2.5rem
}

#projects-container {
  display: grid;
  justify-content: space-around;
  width: 95%;
  row-gap: 25px;
}

.project {
  border: 1px solid #000000;
  border-radius: 50%;
}

.project::after {
  content: "";
  width: 0;
  padding-bottom: 100%;
}

#tribute_page {
  background-image: url(/images/doctors_without_borders.jpg);
  background-size: 250%;
}

#survey_form {
  background-image: url(/images/bookstore.jpg);
  background-size: 100%;
}

#landing_page {
  background-image: url(/images/furniture.jpg);
  background-size: 250%;
}

#technical_documentation_page {
  background-image: url(/images/CSS.png);
  background-size: 200%;
}

#contact {
  width: 100%;
  height: 100vh;
}

@media only screen and (max-width: 699px) {
  #projects-container {
    grid-template-columns: 300px;
    grid-auto-rows: 300px;
  }
}

@media only screen and (min-width: 700px) {
  #projects-container {
    grid-template-columns: repeat(2, 300px);
    grid-auto-rows: 300px;
  }
}

@media only screen and (min-width: 1280px) {
  #projects-container {
    grid-template-columns: repeat(4, 300px);
    grid-auto-rows: 300px;
  }
}